<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let venue"> {{venue.name}} </td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let venue"> <a href="{{venue.url}}" target="_blank">{{venue.url}}</a> </td>
  </ng-container>

  <!-- Time Zone Column -->
  <ng-container matColumnDef="timeZone">
    <th mat-header-cell *matHeaderCellDef> Time Zone </th>
    <td mat-cell *matCellDef="let venue"> {{venue.timeZone}} </td>
  </ng-container>

  <!-- Time Zone Column -->
  <ng-container matColumnDef="parkingDetail">
    <th mat-header-cell *matHeaderCellDef> Parking Detail </th>
    <td mat-cell *matCellDef="let venue"> {{venue.parkingDetail}} </td>
  </ng-container>

  <!-- Time Zone Column -->
  <ng-container matColumnDef="images">
    <th mat-header-cell *matHeaderCellDef> Images </th>
    <td mat-cell *matCellDef="let venue">
      <div class="image-container">
        <img *ngFor="let image of venue.images"
             [src]="image.url"
             alt="Venue image"
             class="venue-image">
      </div>
    </td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let venue"> {{venue.city}} </td>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let venue"> {{venue.country}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let venue"> {{venue.address}} </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
